@import "flowbite/src/themes/default";

/* input.css file */
@import "tailwindcss";

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@theme {
  --color-background: #faf9fb;
  --color-card: #f5f2f7;
  --color-border: #e7e2ea;

  --color-brand-softer: #e1ceed;
  --color-brand-soft: #b49fcc;
  --color-brand: #6d466b;
  --color-brand-medium: #91739c;
  --color-brand-strong: #412234;

  --color-text-primary: #1f2937;
  --color-text-secondary: #6b7280;

  --color-input-bg: #ffffff;
  --color-input-border: #d6d0da;
  --color-input-text: #1f2937;
  --color-input-placeholder: #9ca3af;
  --color-input-focus: #91739c;

  --font-heading: 'Yeseva One', serif;
  --font-body: 'Afacad', sans-serif;
  --font-mono: 'Geist Mono', monospace;
}


.dark {
  --color-background: #0f0b12;
  --color-card: #1b1420;
  --color-border: #2a2130;

  --color-brand-softer: #3d2a42;
  --color-brand-soft: #52345a;
  --color-brand: #91739c;
  --color-brand-medium: #b49fcc;
  --color-brand-strong: #6b5573;

  --color-text-primary: #f5f5f5;
  --color-text-secondary: #a1a1aa;

  /* ---------- INPUTS ---------- */

  --color-input-bg: #201827;
  --color-input-border: #352b3b;
  --color-input-text: #f3f4f6;
  --color-input-placeholder: #9ca3af;
  --color-input-focus: #b49fcc;
}

body {
  background-color: var(--color-background);
}

.jodit_theme_editor {
  --jd-color-background-default: var(--color-input-bg);
  --jd-color-border: var(--color-border);
  --jd-color-panel: var(--color-brand-softer);
  --jd-color-icon: var(--color-text-primary);
  --jd-color-text: var(--color-text-primary);
  --jd-color-popup: var(--color-text-primary);
}

.jodit_theme_editor .jodit-toolbar-button:hover button {
  background: var(--color-brand-medium);
}

.jodit_theme_editor .jodit-toolbar-button:hover svg {
  fill: var(--color-text-primary);
}

.jodit_theme_editor .jodit-popup {
  background: var(--color-input-bg);
  border: 1px solid var(--color-border);
  color: var(--color-text-primary);
}

.jodit_theme_editor .jodit-popup * {
  color: var(--color-text-primary);
}

.jodit_theme_editor .jodit-popup .jodit-toolbar-button:hover {
  background: var(--color-brand-softer);
  color: var(--color-brand-soft);
}

